# Node
node_modules/
dist/
build/

# backup sql
veridoc_test_backup.sql

# Environment
.env
.env.local

# Logs
logs/
npm-debug.log*

# OS
.DS_Store

# Editor
.vscode/
.idea/

# Python
__pycache__/
*.pyc
.pytest_cache/

# Prisma
prisma/migrations/*
