-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: veridoc_test
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `content_sections`
--

DROP TABLE IF EXISTS `content_sections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `content_sections` (
  `section_id` bigint NOT NULL AUTO_INCREMENT,
  `section_type` varchar(50) NOT NULL,
  `title` varchar(200) NOT NULL,
  `content` text NOT NULL,
  `image_url` varchar(255) DEFAULT NULL,
  `display_order` int DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  PRIMARY KEY (`section_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `content_sections`
--

LOCK TABLES `content_sections` WRITE;
/*!40000 ALTER TABLE `content_sections` DISABLE KEYS */;
/*!40000 ALTER TABLE `content_sections` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `expert_answers`
--

DROP TABLE IF EXISTS `expert_answers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `expert_answers` (
  `answer_id` bigint NOT NULL AUTO_INCREMENT,
  `symptom_id` bigint NOT NULL,
  `summary` text NOT NULL,
  `full_content` text NOT NULL,
  `source_url` varchar(255) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`answer_id`),
  KEY `fk_expert_answers_symptom` (`symptom_id`),
  CONSTRAINT `fk_expert_answers_symptom` FOREIGN KEY (`symptom_id`) REFERENCES `symptoms` (`symptom_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `expert_answers`
--

LOCK TABLES `expert_answers` WRITE;
/*!40000 ALTER TABLE `expert_answers` DISABLE KEYS */;
/*!40000 ALTER TABLE `expert_answers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hospital_symptoms`
--

DROP TABLE IF EXISTS `hospital_symptoms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hospital_symptoms` (
  `symptom_id` bigint NOT NULL,
  `hospital_id` bigint NOT NULL,
  PRIMARY KEY (`symptom_id`,`hospital_id`),
  KEY `fk_hs_hospital` (`hospital_id`),
  CONSTRAINT `fk_hs_hospital` FOREIGN KEY (`hospital_id`) REFERENCES `hospitals` (`hospital_id`),
  CONSTRAINT `fk_hs_symptom` FOREIGN KEY (`symptom_id`) REFERENCES `symptoms` (`symptom_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hospital_symptoms`
--

LOCK TABLES `hospital_symptoms` WRITE;
/*!40000 ALTER TABLE `hospital_symptoms` DISABLE KEYS */;
/*!40000 ALTER TABLE `hospital_symptoms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hospitals`
--

DROP TABLE IF EXISTS `hospitals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hospitals` (
  `hospital_id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `address` varchar(255) NOT NULL,
  `latitude` decimal(10,8) NOT NULL,
  `longitude` decimal(11,8) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `specialty` varchar(100) DEFAULT NULL,
  `homepage_url` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`hospital_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hospitals`
--

LOCK TABLES `hospitals` WRITE;
/*!40000 ALTER TABLE `hospitals` DISABLE KEYS */;
/*!40000 ALTER TABLE `hospitals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lifestyle_videos`
--

DROP TABLE IF EXISTS `lifestyle_videos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lifestyle_videos` (
  `video_id` bigint NOT NULL AUTO_INCREMENT,
  `symptom_id` bigint NOT NULL,
  `description` text NOT NULL,
  `title` varchar(200) NOT NULL,
  `youtube_url` varchar(255) NOT NULL,
  `thumbnail_url` varchar(255) NOT NULL,
  `display_order` int NOT NULL DEFAULT '0',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  PRIMARY KEY (`video_id`),
  KEY `fk_lifestyle_videos_symptom` (`symptom_id`),
  CONSTRAINT `fk_lifestyle_videos_symptom` FOREIGN KEY (`symptom_id`) REFERENCES `symptoms` (`symptom_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lifestyle_videos`
--

LOCK TABLES `lifestyle_videos` WRITE;
/*!40000 ALTER TABLE `lifestyle_videos` DISABLE KEYS */;
/*!40000 ALTER TABLE `lifestyle_videos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pain_areas`
--

DROP TABLE IF EXISTS `pain_areas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pain_areas` (
  `pain_area_id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  PRIMARY KEY (`pain_area_id`),
  UNIQUE KEY `uk_pain_area_name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pain_areas`
--

LOCK TABLES `pain_areas` WRITE;
/*!40000 ALTER TABLE `pain_areas` DISABLE KEYS */;
/*!40000 ALTER TABLE `pain_areas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `symptom_steps`
--

DROP TABLE IF EXISTS `symptom_steps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `symptom_steps` (
  `step_id` bigint NOT NULL AUTO_INCREMENT,
  `symptom_id` bigint NOT NULL,
  `step_number` int NOT NULL,
  `title` varchar(200) NOT NULL,
  `content` text NOT NULL,
  `image_url` varchar(255) NOT NULL,
  `created_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  PRIMARY KEY (`step_id`),
  KEY `fk_symptom_steps_symptom` (`symptom_id`),
  CONSTRAINT `fk_symptom_steps_symptom` FOREIGN KEY (`symptom_id`) REFERENCES `symptoms` (`symptom_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `symptom_steps`
--

LOCK TABLES `symptom_steps` WRITE;
/*!40000 ALTER TABLE `symptom_steps` DISABLE KEYS */;
/*!40000 ALTER TABLE `symptom_steps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `symptoms`
--

DROP TABLE IF EXISTS `symptoms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `symptoms` (
  `symptom_id` bigint NOT NULL AUTO_INCREMENT,
  `pain_area_id` bigint NOT NULL,
  `name` varchar(100) NOT NULL,
  PRIMARY KEY (`symptom_id`),
  KEY `fk_symptoms_pain_area` (`pain_area_id`),
  CONSTRAINT `fk_symptoms_pain_area` FOREIGN KEY (`pain_area_id`) REFERENCES `pain_areas` (`pain_area_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `symptoms`
--

LOCK TABLES `symptoms` WRITE;
/*!40000 ALTER TABLE `symptoms` DISABLE KEYS */;
/*!40000 ALTER TABLE `symptoms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `temporary_care_guides`
--

DROP TABLE IF EXISTS `temporary_care_guides`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `temporary_care_guides` (
  `guide_id` bigint NOT NULL AUTO_INCREMENT,
  `pain_area_id` bigint NOT NULL,
  `guide_type` varchar(200) NOT NULL,
  `title` varchar(200) NOT NULL,
  `content` text NOT NULL,
  `image_url` varchar(255) NOT NULL,
  `display_order` int DEFAULT '0',
  `created_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  PRIMARY KEY (`guide_id`),
  KEY `fk_care_guides_pain_area` (`pain_area_id`),
  CONSTRAINT `fk_care_guides_pain_area` FOREIGN KEY (`pain_area_id`) REFERENCES `pain_areas` (`pain_area_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `temporary_care_guides`
--

LOCK TABLES `temporary_care_guides` WRITE;
/*!40000 ALTER TABLE `temporary_care_guides` DISABLE KEYS */;
/*!40000 ALTER TABLE `temporary_care_guides` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usage_guides`
--

DROP TABLE IF EXISTS `usage_guides`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usage_guides` (
  `guide_id` bigint NOT NULL AUTO_INCREMENT,
  `card_number` int NOT NULL,
  `title` varchar(200) NOT NULL,
  `modal_content` text NOT NULL,
  `image_url` varchar(255) DEFAULT NULL,
  `display_order` int DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  PRIMARY KEY (`guide_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usage_guides`
--

LOCK TABLES `usage_guides` WRITE;
/*!40000 ALTER TABLE `usage_guides` DISABLE KEYS */;
/*!40000 ALTER TABLE `usage_guides` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_pain_areas`
--

DROP TABLE IF EXISTS `user_pain_areas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_pain_areas` (
  `user_id` bigint NOT NULL,
  `pain_area_id` bigint NOT NULL,
  PRIMARY KEY (`user_id`,`pain_area_id`),
  KEY `fk_upa_pain_area` (`pain_area_id`),
  CONSTRAINT `fk_upa_pain_area` FOREIGN KEY (`pain_area_id`) REFERENCES `pain_areas` (`pain_area_id`),
  CONSTRAINT `fk_upa_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_pain_areas`
--

LOCK TABLES `user_pain_areas` WRITE;
/*!40000 ALTER TABLE `user_pain_areas` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_pain_areas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_symptoms`
--

DROP TABLE IF EXISTS `user_symptoms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_symptoms` (
  `user_id` bigint NOT NULL,
  `symptom_id` bigint NOT NULL,
  PRIMARY KEY (`user_id`,`symptom_id`),
  KEY `fk_us_symptom` (`symptom_id`),
  CONSTRAINT `fk_us_symptom` FOREIGN KEY (`symptom_id`) REFERENCES `symptoms` (`symptom_id`),
  CONSTRAINT `fk_us_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_symptoms`
--

LOCK TABLES `user_symptoms` WRITE;
/*!40000 ALTER TABLE `user_symptoms` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_symptoms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `user_id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(20) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password` varchar(100) NOT NULL,
  `birth` datetime NOT NULL,
  `gender` enum('MALE','FEMALE','OTHER') NOT NULL,
  `created_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `deleted_at` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `uk_user_email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-02  4:56:47
